<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Aaromalchekavar Chat</title>
</head>
<body>
    <div id="chat">
        <h2>Chatinger</h2>
        <div id="chat-window">
            <div id="output"></div>
            <div id="typingAlert"></div>
        </div>
        <input id="handle" type="text" placeholder="Name" />
        <input id="message" type="text" placeholder="Message" />
        <button id="send">Send</button>
    </div>
    </body>
<script src="/main.js"></script>
</html>
